APP_BUILD=0000000
APP_ENV=local
VITE_API_URL=http://localhost:8080
TZ=UTC
JWT_SECRET=s3cr3t
DB_URI=postgresql://user:password@127.0.0.1/voto
DB_LOGGING=
CACHE_URI=cache://:password@127.0.0.1
CACHE_ENABLED=1
